.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 0.5rem 10%;
    background-color: #202020;
    box-sizing: border-box;
  }
  @media only screen and (max-width: 800px){
    .header {
      padding: 0.3rem 5%;
    }
  }
  .logo {
    font-size: 1.5rem;
    color: white;
    font-family: 'Fira', sans-serif;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #94fdfd;
  }
  
  .logo a {
    text-decoration: none;
    color: #94fdfd;
  }
  .navigation{
    list-style-type: none;
  }
  .navigation a {
    text-decoration: none;
    color: #74dacc;
    font-size: 1rem;
  }
  
  @media (min-width: 768px) {
    .logo {
      font-size: 2rem;
    }
  
    .navigation a {
      font-size: 1.3rem;
    }
  }